# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Caching
.pytest_cache/
.coverage
htmlcov/
*.log

# Environments & IDEs
.venv/
env/
venv/
ENV/
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
